@model TextMark.Models.Users_TB

@{
    ViewData["Title"] = "Assign a Source File Names";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}

<h1>Assign a Source File Name</h1>

<h4>Login</h4>
<hr />
@*<div class="row">
    <div class="col-md-4">*@
@*<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="container" id="Users_Container">*@
<form asp-action="Assign_Source_File_Name" autocomplete="off">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="User_ID" />
    <div class="form-group">
        <label asp-for="Username" class="control-label"></label>
        <input asp-for="Username" class="form-control" autocomplete="off" disabled />
        <span asp-validation-for="Username" class="text-danger"></span>
    </div>
    @*<div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" autocomplete="new-password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="control-label"></label>
                <input asp-for="ConfirmPassword" class="form-control" autocomplete="new-password" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="d-flex flex-row align-self-center">
                <label asp-for="Text_Annotation_Allowed" class="col-10 p-2 control-label"></label>
                <input asp-for="Text_Annotation_Allowed" class="form-control" style="box-shadow: none;" type="checkbox" />
                <span asp-validation-for="Text_Annotation_Allowed" class="p-2 text-danger"></span>
            </div>
            <div class="d-flex flex-row align-self-center">
                <label asp-for="Text_Classification_Allowed" class="col-10 p-2 control-label"></label>
                <input asp-for="Text_Classification_Allowed" style="box-shadow: none;" class="form-control" type="checkbox" />
                <span asp-validation-for="Text_Classification_Allowed" class="p-2 text-danger"></span>
            </div>
        <div class="form-group">
            <label asp-for="Role_ID" class="control-label"></label>
            @Html.DropDownList("Role_ID", new SelectList(ViewBag.Roles, "Role_ID", "Role_Project_Name"), "Select a Role",
                   new { @class = "form-control" })
            <span asp-validation-for="Role_ID" class="text-danger"></span>
        </div>*@
    <div class="form-group">
        <label class="control-label">File Name: </label>
        @Html.DropDownList("Source_File_Name", new SelectList(ViewBag.Source_File_Names, "Source_File_Name", "Source_File_Name"), "Select a File",
               new { @class = "form-control" })
    </div> 
    <div>
        @if (ViewBag.Error != null)
        {
            <p class="text-danger">@ViewBag.Error</p>

        }
    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>
@*</div>
    </main>*@

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
