@model TextMark.Models.Users_TB
@{
    ViewBag.Title = "Users_TB";
}
<h2>Users_TB</h2>

<form method="post" asp-controller="Users_TB" asp-action="Check_UserName_Password">
    <div>
        <div>
            <label class="col-3" asp-for="Username"></label>
            <input class="col-3" asp-for="Username" value="" />
            <span asp-validation-for="Username"></span>
        </div>

    </div>

    <div>
        <div>
            <label class="col-3" asp-for="Password"></label>
            <input class="col-3" asp-for="Password" value="" />
            <span asp-validation-for="Password"></span>
        </div>

    </div>
    <div>
        <input class="col-6" type="submit" value="Users_TB" />
    </div>

</form>
<a asp-action="Register" asp-controller="Users_TB">Register</a>   