@model TextMark.Models.Labels_TB

@{
    ViewData["Title"] = "Label Details";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}

<h1>Details</h1>

<div>   
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Label_Text)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Label_Text)
        </dd>        
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Label_ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
