@model TextMark.Models.Assigned_Annotations_ToUsers_TB

<h4>Assigned_Annotations_ToUsers_TB</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="PartialView_Selected_Assigned_Annotation">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Assigned_Anno_ID" />
            <div class="form-group">
                <label asp-for="User_ID" class="control-label"></label>
                <select asp-for="User_ID" class="form-control" asp-items="ViewBag.User_ID"></select>
                <span asp-validation-for="User_ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Annotation_ID" class="control-label"></label>
                <select asp-for="Annotation_ID" class="form-control" asp-items="ViewBag.Annotation_ID"></select>
                <span asp-validation-for="Annotation_ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Annotated_Text" class="control-label"></label>
                <input asp-for="Annotated_Text" class="form-control" />
                <span asp-validation-for="Annotated_Text" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Project_ID" class="control-label"></label>
                <select asp-for="Project_ID" class="form-control" asp-items="ViewBag.Project_ID"></select>
                <span asp-validation-for="Project_ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

