@model TextMark.Models.Users_TB

@{
    ViewData["Title"] = "Log in";
}
<header class="bg-dark  d-flex justify-content-center sticky-top p-0 shadow">    
    <a class="btn btn-success" href="@Url.Action("Manage_Projects_Help", "Admin_Help")">
            User Manual
            <i class="bi bi-info-square"></i>
    </a>   
</header>

<h1>@ViewData["Title"]</h1>
<div class="row">
    <div class="col-md-4">
        <section>
            <form id="account" method="post">
                @*<h4>Use a local account to log in.</h4>*@
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Username"></label>
                    <input asp-for="Username" class="form-control" />
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary" asp-controller="Login" asp-action="Details">Login</button>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

@*@{
        ViewBag.Title = "Users_TB";
    }
    <h2>Users_TB</h2>

    <form method="post" asp-controller="Users_TB" asp-action="Check_UserName_Password">
        <div>
            <div>
                <label class="col-3" asp-for="Username"></label>
                <input class="col-3" asp-for="Username" value="" />
                <span asp-validation-for="Username"></span>
            </div>

        </div>

        <div>
            <div>
                <label class="col-3" asp-for="Password"></label>
                <input class="col-3" asp-for="Password" value="" />
                <span asp-validation-for="Password"></span>
            </div>

        </div>
        <div>
            <input class="col-6" type="submit" value="Users_TB" />
        </div>

    </form>
    <a asp-action="Register" asp-controller="Users_TB">Register</a>*@   