@{
    ViewData["Title"] = "Users Management Help Page";
    Layout = "~/Views/Shared/_Layout_Admin_Help.cshtml";
}

<h1>Step 6: Manage Users</h1>
<div></div>
<div class="container">
    <div class="row justify-content-start ">
        <div class="row mb-3 mt-3">
            The sixth step is to manage the users of the activated project. Admin can "Create a new user" (See No. 1), or Edit, Delete, Veiw Details of existing users (See No. 2).
        </div>
        <br />
        <div class="row mb-3 mt-3 border">
            <div class="col col-lg-12 ">
                <img src="~/images/Admin_Users.jpg" class="img-fluid" />
            </div>
        </div>
        <br />
        <div class="row mb-3 mt-3">
            <strong class="text-danger">Note: Admin must define the ACCESS LEVEL of all users in the activated project</strong> (See No. 3). Admin must define whether the user can do "Text Annotation" or "Text Classification" on each uploaded file.
        </div>
        <br />
        <div class="row mb-3 mt-3 border">
            <div class="col col-lg-12 ">
                <img src="~/images/User_Access_Level.jpg" class="img-fluid" />
            </div>
        </div>
        <br />
        <div class="row mb-3 mt-3">
            After this step, Admin can ask the users to login into application and do their tasks. Depending on their given accessibility by admin, they may be able to Do Text Annotation or Text Classification on the records of uploaded files in the assigned project.
        </div>
    </div>
</div>