@{
    ViewData["Title"] = "Classifications Labels Management Help Page";
    Layout = "~/Views/Shared/_Layout_Admin_Help.cshtml";
}

<h1>Step 4: Manage Text Classifications Labels</h1>
<div></div>
<div class="container">
    <div class="row justify-content-start ">
        <div class="row mb-3 mt-3">
            The fourth step is to manage the Text Classifications Labels in the activated project. Admin can "Create a new label" (See No. 1), or Edit, Delete, Veiw Details of existing labels (See No. 2).
        </div>
        <div class="row mb-3 mt-3">
            <strong>Note: Each Text Classification Label has a unique name, colour, and shortcut key in the activated project.</strong>
        </div>
        <br />
        <div class="row mb-3 mt-3 border">
            <div class="col col-lg-12 ">
                <img src="~/images/Admin_Classifications_Labels.jpg" class="img-fluid" />               
            </div>
        </div>
        <br />

    </div>
</div>