@{
    ViewData["Title"] = "Roles Management Help Page";
    Layout = "~/Views/Shared/_Layout_Admin_Help.cshtml";
}

<h1>Step 2: Manage Roles</h1>
<div></div>
<div class="container">
    <div class="row justify-content-start ">
        <div class="row mb-3 mt-3">
            After Managing the projects and activating  one of them, the second step is to manage the roles in the activated project.
        </div>
        <div class="row mb-3 mt-3">
            Admin can "Create a new role" (See No. 1), or Edit, Delete, Veiw Details of existing roles (See No. 2).
        </div>

        <br />
        <div class="row mb-3 mt-3 border">
            <div class="col col-lg-12 ">
                <img src="~/images/Admin_Roles.jpg" class="img-fluid" />
            </div>
        </div>
        <br />
        <div class="row mb-3 mt-3">
            <strong>Note: Since the ADMIN role is a reserved role which has the super class accessability to Admin page, it cannot be assigned in each project (See No. 3). All actions in the next steps will be applied on the ACTIVATED PROJECT.</strong>
        </div>
        <br />
        <div class="row mb-3 mt-3 border">
            <div class="col col-lg-12 ">
                <img src="~/images/Admin_Roles_Error.jpg" class="img-fluid" />
            </div>
        </div>
    </div>
    
</div>