@{
    ViewData["Title"] = "Projects Management Help Page";
    Layout = "~/Views/Shared/_Layout_Admin_Help.cshtml";
}

<h1>Step 1: Manage Projects</h1>
<div></div>
<div class="container">
    <div class="row justify-content-start ">
        <div class="row mb-3 mt-3">
            The first step which should be done by the application admin is to manage projects. Admin can "Create a new Project" (See No. 1), or Edit, Delete, Veiw Details of existing projects (See No. 2).
        </div>
        <div class="row mb-3 mt-3">
            <strong>Note: It is very important to choose a project as the ACTIVE PROJECT (See No. 3). All actions in the next steps will be applied on the ACTIVATED PROJECT.</strong>
        </div>
        <br />
        <div class="row mb-3 mt-3 border">
            <div class="col col-lg-12 ">
                <img src="~/images/Admin_Projects.jpg" class="img-fluid" />                
            </div>
        </div>
        <br />

    </div>
</div>