@{
    ViewData["Title"] = "Assigned Text Classifications Management Help Page";
    Layout = "~/Views/Shared/_Layout_Admin_Help.cshtml";
}

<h1>Step 7: Manage Assigned Text Classifications</h1>
<div></div>
<div class="container">
    <div class="row justify-content-start ">
        <div class="row mb-3 mt-3">
            In the eighth step, admin can see the results of Text Classification done by users. Admin Can Filter the shown results, or delete the results of a selected user. (See No. 1)
        </div>
        <br />
        <div class="row mb-3 mt-3">
            Aditionaly, Admin can check the details or delete any individual record. (See No. 2)
        </div>
        <br />
        <div class="row mb-3 mt-3 border">
            <div class="col col-lg-12 ">
                <img src="~/images/TextClassification_Results_Details.jpg" class="img-fluid" />              
            </div>
        </div>
        <br />
        <div class="row mb-3 mt-3">
            <strong class="text-danger">Note: Admin can see the full details of all Text Classifications done by the selected user at the below part of the page.</strong>           
            Admin can export the results in JSON format by using the Export button. (See No. 3)
        </div>
        <br />
        <div class="row mb-3 mt-3 border">
            <div class="col col-lg-12 ">
                <img src="~/images/All_TextClassificationDetails.jpg" class="img-fluid" />              
            </div>
        </div>
        <br />
    </div>
</div>