@{
    ViewData["Title"] = "Files Management Help Page";
    Layout = "~/Views/Shared/_Layout_Admin_Help.cshtml";
}

<h1>Step 5: Manage Files</h1>
<div></div>
<div class="container">
    <div class="row justify-content-start ">
        <div class="row mb-3 mt-3">
            The fifth step is to manage the files in the activated project. Admin can "Upload a new file" (See No. 1), or Edit, Delete, Veiw Details of existing files (See No. 2).
        </div>
        <div class="row mb-3 mt-3">
            Admin can filter or delete the records of selected file. (See No. 3)
        </div>
        <div class="row mb-3 mt-3">
            <strong>Note: The file must be in XLS or XLSX format, and each file has a unique name in the activated project.</strong>
        </div>
        <br />
        <div class="row mb-3 mt-3 border">
            <div class="col col-lg-12 ">
                <img src="~/images/Admin_Manage_Files.jpg" class="img-fluid" />
            </div>
        </div>
        <br />
        <div class="row mb-3 mt-3">
            <strong>Note: The file structure (columns order) must be as shown below.[ID, Title, Body, Date, Source]</strong>
        </div>
        <br />
        <div class="row mb-3 mt-3 border">
            <div class="col col-lg-12 ">
                <img src="~/images/File_Structure.jpg" class="img-fluid" />              
            </div>
        </div>
    </div>
</div>