@model TextMark.Models.Annotations_TB
@using Microsoft.AspNetCore.Http;


@{
    ViewData["Title"] = "Upload a New Annotation File";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}

<h1>Upload</h1>


<hr />
@*<div class="row">
    <div class="col-md-4">*@
<form asp-action="Create" enctype="multipart/form-data" method="post">
    <div class="form-group">
        @*<label asp-for="Projects_TB.Project_Name" class="control-label" type="hidden"></label>*@
        <input asp-for="Project_ID" class="form-control" autocomplete="off" value=@Context.Session.GetString("Active_ProjectID") type="hidden" />
        <span asp-validation-for="Project_ID" class="text-danger"></span>
    </div>
    @if (ViewBag.Error != null)
    {
        <p class="text-danger">@ViewBag.Error</p>

    }
    <div class="form-group m-2">
        <input type="file" value="Upload File" name="ExcelFile" accept=".xls ,.xlsx" />
    </div>
    <div class="form-group m-2">
        <input type="submit" onclick="spinner()" value="Upload" class="btn btn-primary" />
    </div>
    <div class="spinner-border text-primary" id="loader" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</form>
@*</div>
    </div>*@

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    function spinner() {
    document.getElementsByClassName("loader").style.display = "block";
    }
}
