@model TextMark.Models.Users_TB

@{
    ViewData["Title"] = "Create a User";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}

<h1>Create a new User</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" autocomplete="off">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" value="Enter Username Here ..." onfocus="this.value=''" autocomplete="off" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" onfocus="this.value=''" autocomplete="off" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="control-label"></label>
                <input asp-for="ConfirmPassword" class="form-control" onfocus="this.value=''" autocomplete="off" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            @*<div class="d-flex flex-row align-self-center">
                <label asp-for="Text_Annotation_Allowed" class="col-10 p-2 control-label"></label>
                <input asp-for="Text_Annotation_Allowed" class="form-control" style="box-shadow: none;" type="checkbox" />
                <span asp-validation-for="Text_Annotation_Allowed" class="p-2 text-danger"></span>
            </div>
            <div class="d-flex flex-row align-self-center">
                <label asp-for="Text_Classification_Allowed" class="col-10 p-2 control-label"></label>
                <input asp-for="Text_Classification_Allowed" style="box-shadow: none;" class="form-control" type="checkbox" />
                <span asp-validation-for="Text_Classification_Allowed" class="p-2 text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="Role_ID" class="control-label"></label>
                @*<input asp-for="Role_ID" class="form-control" />*@

                @Html.DropDownList("Role_ID", new SelectList(ViewBag.Roles, "Role_ID", "Role_Project_Name"), "Select a Role",
                       new { @class = "form-control" })
                <span asp-validation-for="Role_ID" class="text-danger"></span>
            </div>
            <div>
                @if (ViewBag.Error != null)
                {
                    <p class="text-danger">@ViewBag.Error</p>

                }
            </div>
            <!--<div class="form-group">
                <label class="control-label">File Name: </label>-->
                @*<input asp-for="Role_ID" class="form-control" />*@

                <!--@Html.DropDownList("Source_File_Name", new SelectList(ViewBag.Source_File_Names, "Source_File_Name", "Source_File_Name"), "Select a File",
                       new { @class = "form-control" })
               
            </div>-->
            
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>

        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
<br />
<br />
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
