@model TextMark.Models.Users_TB

@{
    ViewData["Title"] = "Create a User";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}

<h1>Create a new User</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" autocomplete="off">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group m-3">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" value="Enter Username Here ..." onfocus="this.value=''" autocomplete="off" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group m-3">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" onfocus="this.value=''" autocomplete="off" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>           
            <div class="form-group m-3">
                <label asp-for="Role_ID" class="control-label"></label>
                @*<input asp-for="Role_ID" class="form-control" />*@

                @Html.DropDownList("Role_ID", new SelectList(ViewBag.Roles, "Role_ID", "Role_Project_Name"), "Select a Role",
                       new { @class = "form-control" })
                <span asp-validation-for="Role_ID" class="text-danger"></span>
            </div>
            <div class="form-group m-3">
                @if (ViewBag.Error != null)
                {
                    <p class="text-danger">@ViewBag.Error</p>

                }
            </div>          
            
            <div class="form-group m-3">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>

        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
<br />
<br />
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
