@model TextMark.Models.ClassificationLabels_TB
@using Microsoft.AspNetCore.Http;

@{
    ViewData["Title"] = "Edit Classification Label";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}

<h1>Edit</h1>

<hr />
<form asp-action="Edit" autocomplete="off" class="col-4">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="ClassificationLabel_ID" />
    <div class="form-group">
        <label asp-for="ClassificationLabel_Text" class="control-label"></label>
        <input asp-for="ClassificationLabel_Text" class="form-control" autocomplete="off" />
        <span asp-validation-for="ClassificationLabel_Text" class="text-danger"></span>
    </div>   
    <div class="form-group">
        <label asp-for="ClassificationLabel_Background_Color" class="control-label"></label>      
        @Html.TextBoxFor(model => model.ClassificationLabel_Background_Color, new { @class = "form-control", type = "color" })
        <span asp-validation-for="ClassificationLabel_Background_Color" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ClassificationLabel_ShortCut_Key" class="control-label"></label>
        <input asp-for="ClassificationLabel_ShortCut_Key" class="form-control" autocomplete="off" />
        <span asp-validation-for="ClassificationLabel_ShortCut_Key" class="text-danger"></span>
    </div>
    <div class="form-group">      
        <input asp-for="Project_ID" class="form-control" autocomplete="off" value=@Context.Session.GetString("Active_ProjectID") type="hidden" />
        <span asp-validation-for="Project_ID" class="text-danger"></span>
    </div>
    @if (ViewBag.Error != null)
    {
        <p class="text-danger">@ViewBag.Error</p>

    }
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
    <div>
        <a asp-action="Index">Back to List</a>
    </div>
    <br />

</form>
@*</div>
    </main>*@



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
