@model Users_TB

@{
    ViewData["Title"] = "Admin Page";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}




<div class="container-fluid">
    <div class="row">
       

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div class="container" id="Users_Container">
              

            </div>
        </main>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
